#players
{
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.control
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* 
img
{
    width: 32px;
    height: 32px;
} */

#player1
{
    width: 410px;
    display: flex;
    justify-content: start;
}

#player2
{
    width: 410px;
    display: flex;
    justify-content: start;
}